<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoKeMapV6.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PoKeMapV6.My.MySettings>
            <setting name="PythonDir" serializeAs="String">
                <value />
            </setting>
            <setting name="PipDir" serializeAs="String">
                <value />
            </setting>
            <setting name="PokeMapDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ptc_uName" serializeAs="String">
                <value />
            </setting>
            <setting name="ptc_uPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="uLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Steps" serializeAs="String">
                <value />
            </setting>
            <setting name="aType" serializeAs="String">
                <value />
            </setting>
            <setting name="ggl_uName" serializeAs="String">
                <value />
            </setting>
            <setting name="ggl_uPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>0</value>
            </setting>
        </PoKeMapV6.My.MySettings>
    </userSettings>
</configuration>