<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoGoMap_GUIv2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PoGoMap_GUIv2.My.MySettings>
            <setting name="aType" serializeAs="String">
                <value />
            </setting>
            <setting name="uName" serializeAs="String">
                <value />
            </setting>
            <setting name="uPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="uLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="uSteps" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptName" serializeAs="String">
                <value />
            </setting>
            <setting name="uApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonDir" serializeAs="String">
                <value />
            </setting>
            <setting name="PipDir" serializeAs="String">
                <value />
            </setting>
            <setting name="NodejsDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value />
            </setting>
            <setting name="PoGoMapDir" serializeAs="String">
                <value />
            </setting>
        </PoGoMap_GUIv2.My.MySettings>
    </userSettings>
</configuration>